<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://underthestars-zhy.github.io/IconChanger/IconChanger/sparkle.xml</string>
	<key>SUPublicEDKey</key>
	<string>WaX8A6fbOjG2ryw9va3sfqGtHv2koXeQUs5I+EgYMgw=</string>
</dict>
</plist>
